.container {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

.box{
 width: 200px;
 height: 200px;
 background-color: blueviolet;   
 transition: ;
}

.box:hover {
    transform: scale(1.5);
    transform-origin: 0 0;
}