/* CSS Reset */
/* *,
*::before;
*::after {
box-sizing: border-box;
margin: 0px;
list-style: none;
}

html{
font-size: 62.5%;
/* 62.5% * 16 px = 10 px */
/* } */

body {
background-color: lightgrey;

}
/* 
p {
border: 3px solid black;
Margin: 20px;
padding: 10px; */

/* } */

/* .box {
font-size: 15px;
width: 200px;
height: 50px;
background-color: greenyellow;
border: 2px black solid;
padding: 10px;
display: inline-block;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
} */
.container p {
    border: 2px black solid;
    padding: 10px;
    background-color: brown;
}
.container :first-child {
background-color: gold;
}
    .container {
        display: flex;
        flex-direction: column;
    }

@media screen and (min-width: 400px) {
    .container{
        flex-direction: row;
    }
        
    }